.about-page {
  padding: 20px 0 100px;

  &__container {
    @extend %container;
  }

  &__breadcrumb {
    margin-bottom: 20px;
  }

  &__header {
    padding: 60px 0;
    background-color: $white-color;
    margin-bottom: 40px;
  }

  &__title {
    @include text-style(2.4rem, 600, $text-color);
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text-style(4rem, 400, $title-color);
    font-family: $futura;
    line-height: 44px;

    span {
      color: $main-color;
    }
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__text {
    width: 775px;
    @include text-style(1.8rem, 400, $text-color);
    line-height: 21px;
  }

  &__rubrics {
    padding: 20px;
    background-color: $white-color;
    box-shadow: 0 1px 20px rgba(204, 204, 204, 0.2);
    width: 387px;

    h6 {
      @include text-style(1.8rem, 400, $title-color);
      font-family: $futura;
      margin-bottom: 20px;
    }

    ul {
      li {
        @include text-style(1.4rem, 400, $text-color);

        &:not(:last-child) {
          margin-bottom: 14px;
        }
      }
    }
  }

  @include respond(phone) {
    padding: 20px 0 80px;

    &__header {
      padding: 20px 0;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: 2.4rem;
      line-height: 26.5px;
    }

    &__row {
      display: block;
      margin-bottom: 80px;
    }

    &__text {
      width: unset;
      font-size: 1.6rem;
      line-height: 19px;
      margin-bottom: 20px;
    }

    &__rubrics {
      padding: 16px;
      width: 100%;

      h6 {
        font-size: 1.6rem;
        margin-bottom: 14px;
      }

      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}