.accent-section {
  padding: 60px 0;
  background-color: #A5AE9D;

  &__container {
    @extend %container;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &__swiper-container {
    display: none;
  }

  @include respond(tab-land) {
    &__container {
      display: block;
    }

    &__list {
      display: none;
    }

    &__swiper-container {
      display: block;
      padding-bottom: 38px;
    }

    &__pagination {

      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 83, 68, 0.3);;
        opacity: 1;
        margin: 0 8px;
      }

      .swiper-pagination-bullet-active {
        background-color: #005344;
      }
    }
  }

  @include respond(phone) {
    padding: 40px 0 75px;
  }
}