.accent-card {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  height: 387px;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.09) 0%, rgba(29, 29, 29, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__img {
    height: 100%;
    width: unset;
    max-width: unset;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__info {
    position: absolute;
    left: 16px;
    bottom: 23px;
    z-index: 3;
  }

  &__heading {
    @include text-style(1.4rem, 400, #E2A190);
    padding-left: 7px;
    position: relative;
    margin-bottom: 10px;

    &:before {
      content: '';
      width: 2px;
      height: 18px;
      border-radius: 1px;
      background-color: #E2A190;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__title {
    @include text-style(1.8rem, 600, $white-color);
    line-height: 21.5px;
    margin-bottom: 10px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__desc {
    @include text-style(1.4rem, 400, #E0E0E0);
    line-height: 16.5px;
    margin-bottom: 20px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__details {
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      @include text-style(1.4rem, 400, #BDBDBD);
      position: relative;

      svg {
        fill: #BDBDBD;
        margin-right: 5px;
      }

      &:not(:last-child) {
        margin-right: 25px;

        &:after {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #BDBDBD;
          position: absolute;
          top: 5px;
          left: calc(100% + 10px);
        }
      }
    }
  }

  @include respond(tab-land) {
    width: 343px;
  }

  @include respond(phone) {
    &__title {
      @include text-style(1.6rem, 600, $white-color);
      line-height: 19px;
      margin-bottom: 5px;
      height: 38px;
    }

    &__desc {
      margin-bottom: 10px;
    }
  }
}