.author-page {
  padding: 20px 0 100px;

  &__container {
    @extend %container;
  }

  &__breadcrumb {
    margin-bottom: 50px;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__img-box {
    position: relative;
    width: 343px;
    height: 250px;
    margin-right: 20px;
    flex-shrink: 0;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 0;
    height: 100%;
    width: unset;
    max-width: unset;
    left: 50%;
    transform: translateX(-50%);
  }

  &__info {

  }

  &__name {
    @include text-style(3.6rem, 400, $title-color);
    font-family: $futura;
    position: relative;
    margin-bottom: 20px;

    &:after {
      content: '';
      width: 570px;
      height: 1px;
      background-color: #A1A1A1;
      position: absolute;
      left: 0;
      top: calc(100% + 10px);
    }
  }

  &__desc {
    @include text-style(1.8rem, 400, $text-color);
    line-height: 21px;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__rubrics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
  }

  &__rubric {
    padding: 7px 12px;
    border-radius: 6px;
    background-color: #F2F2F2;
    @include text-style(1.8rem, 400, #A1A1A1);

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--active {
      background-color: #BF927A;
      color: $white-color;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 80px;
  }

  @include respond(tab-land) {

    &__breadcrumb {
      margin-bottom: 30px;
    }

    &__row {
      align-items: flex-start;
    }

    &__name {
      font-size: 3rem;
      &:after {
        width: 400px;
      }
    }

    &__desc {
      @include text-style(1.5rem, 400, $text-color);
      line-height: 16.5px;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-items: center;
    }
  }

  @include respond(phone) {
    padding: 20px 0 80px;

    &__breadcrumb {
      margin-bottom: 20px;
    }

    &__row {
      display: block;
    }

    &__img-box {
      width: 100%;
      height: 250px;
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__name {
      font-size: 2.4rem;

      &:after {
        width: 100%;
      }
    }

    &__desc {
      font-size: 1.4rem;
      line-height: 16.5px;
    }

    &__heading {
      margin-bottom: 10px;
    }

    &__rubrics {
      margin-bottom: 20px;
    }

    &__rubric {
      font-size: 1.4rem;
      margin-bottom: 10px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &__list {
      display: block;
    }

    &__card {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}