.breadcrumb {

  @include text-style(1.4rem, 400, #4f5457);
  a {
    @include text-style(1.4rem, 400, #4f5457);
  }

  span {
    font-weight: 600;
    color: #00332a;
  }

  &--red {
    span {
      color: #EB5757;
    }
  }
}