.breadcrumb {

  @include text-style(1.4rem, 400, #646D70);
  a {
    @include text-style(1.4rem, 400, #646D70);
  }

  span {
    font-weight: 600;
    color: $main-color;
  }

  &--red {
    span {
      color: #EB5757;
    }
  }
}