.button {
  height: 44px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid $main-color;
  @include text-style(1.8rem, 400, $main-color);
  font-family: $futura;

  &--white {
    color: $white-color;
    border: 1px solid $white-color;
  }
}