.collaborators-box {
  padding: 16px 14px;
  background-color: $white-color;
  box-shadow: 0 1px 20px rgba(204, 204, 204, 0.2);

  &__title {
    @include text-style(1.4rem, 400, $title-color);
    margin-bottom: 10px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__name {
    @include text-style(1.4rem, 400, #A1A1A1);
    line-height: 16.5px;
  }

  &__value {
    @include text-style(1.4rem, 600, $text-color);
    line-height: 16.5px;
    text-align: right;
  }
}