%container {
  //max-width: 1110px;
  margin-left: auto;
  margin-right: auto;

  @include respond(desktop) {
    width: 1160px;
  }

  @include respond(tab-land) {
    width: 769px;
  }

  @include respond(phone) {
    max-width: 375px;
    padding: 0 15px;
    width: unset;
  }
}
