.contact-box {
  padding: 40px;
  background-color: $white-color;
  box-shadow: 0 2px 20px rgba(214, 217, 224, 0.5);
  border-radius: 4px;
  width: 500px;

  &__title {
    @include text-style(2.4rem, 400, $title-color);
    font-family: $futura;
    margin-bottom: 20px;
  }

  &__form {

  }

  &__input-box {
    margin-bottom: 10px;
    position: relative;
    background-color: #F6F9FC;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 16px;

    svg {
      margin-right: 10px;
    }
  }

  &__select {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &--active {
      p {
        color: $text-color !important;
      }
    }

    svg {
      margin-right: 0;
    }

    p {
      @include text-style(1.8rem, 400, rgba($text-color, .5));
      transition: all .3s;
    }
  }

  &__arrow {

    &--active {
      transform: rotate(180deg);
      transition: all .3s;
    }
  }

  &__input {
    width: 100%;
    @include text-style(1.8rem, 400, $text-color);
    background-color: transparent;
  }

  &__textarea {
    width: 100%;
    height: 156px;
    padding: 12px 16px;
    @include text-style(1.8rem, 400, $text-color);
    line-height: 21px;
    background-color: #F6F9FC;
    border-radius: 4px;
    resize: none;
    margin-bottom: 40px;
  }

  &__btn {
    @include text-style(1.8rem, 600, $white-color);
    height: 44px;
    width: 100%;
    background-color: $main-color;
    border-radius: 4px;
  }

  &__dropdown {
    padding: 16px;
    background-color: $white-color;
    border-radius: 4px;
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + 5px);
    box-shadow: 0 2px 20px rgba(214, 217, 224, 0.5);
  }

  &__dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &:hover p {
      color: $text-color;
    }

    p {
      transition: all .3s;
      @include text-style(1.8rem, 400, rgba($text-color, .5));
    }

    &:not(:last-child) {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba($text-color, .5);
    }
  }
}