.footer {
  padding: 30px 0 40px;
  background-color: $title-color;

  &__container {
    @extend %container;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #A1A1A1;
    margin-bottom: 20px;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__social {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__quote {
    max-width: 285px;
    @include text-style(1.4rem, 400, #BDBDBD);
    line-height: 16.5px;
  }

  &__link-box {
    max-width: 265px;

    &--desktop {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }

  &__title {
    @include text-style(1.8rem, 400, $white-color);
    font-family: $futura;
    margin-bottom: 20px;
  }

  &__links {

  }

  &__link {
    @include text-style(1.4rem, 400, #f2f2f2);
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__btn {
    width: 200px;
  }

  &__rights {
    @include text-style(1.8rem, 400, #BDBDBD);
    text-align: left;
  }

  @include respond(tab-land) {
    &__quote {
      max-width: unset;
      width: 175px;
      margin-right: 20px;
    }

    &__link-box {
      max-width: unset;
      width: 175px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  @include respond(phone) {
    padding: 30px 0;

    &__logo {
      margin-bottom: 16px;
      width: 245px;
    }

    &__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 16px;
      margin-bottom: 16px;
    }

    &__main {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      margin-bottom: 30px;
      text-align: center;
    }

    &__quote {
      max-width: unset;
      margin-right: 0;
      width: unset;
      margin-bottom: 20px;
    }

    &__link-box {
      max-width: unset;
      width: unset;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #A1A1A1;

      &:not(:last-child) {
        margin-right: 0;
      }

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }

    &__title {
      @include text-style(1.6rem, 400, $white-color);
      font-family: $futura;
      margin-bottom: 14px;

      &--mb20 {
        margin-bottom: 20px;
      }
    }

    &__links {

    }

    &__link {
      @include text-style(1.4rem, 400, #f2f2f2);

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    &__btn {
      width: 200px;
    }

    &__rights {
      @include text-style(1.6rem, 400, #BDBDBD);
      text-align: center;
    }

  }
}