.header {
  $e: &;

  background-color: $white-color;
  padding: 11px 0;

  &--active {
    #{$e}__links {
      display: none;
    }

    #{$e}__btn {
      display: none;
    }

    #{$e}__search-box {
      display: flex;
      align-items: center;
      height: 44px;
      width: 100%;
      border-radius: 4px;
      background-color: #F7F7F7;
      backdrop-filter: blur(10px);
      padding-left: 16px;
      overflow: hidden;
      transition: all 1s;
    }

    #{$e}__search-input {
      display: block;
      transition: all .3s;
    }

    #{$e}__icon-box {
      background-color: $main-color;
      height: 44px;
      width: 44px;
      transition: all .3s;

      svg {
        fill: $white-color;
      }
    }
  }

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 53px;
  }

  &__links {
    display: flex;
    align-items: center;
    margin-right: 34px;
  }

  &__link {
    @include text-style(1.8rem, 400, $text-color);
    font-family: $futura;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 34px;
    }

    &--red {
      color: #EB5757;
    }
  }

  &__btn {
    width: 140px;
  }

  &__search-box {
    margin-left: auto;
    margin-right: 34px;
    width: unset;
  }

  &__search-input {
    display: none;
    width: 100%;
    background-color: transparent;
    @include text-style(1.4rem, 500, $text-color);
  }

  &__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $main-color;
    }
  }

  &__search {
    cursor: pointer;
  }

  &__burger {
    flex-shrink: 0;
    cursor: pointer;
  }

  @include respond(tab-land) {
    &__links {
      display: none;
    }

    &__btn {
      display: none;
    }
  }

  @include respond(phone) {
    min-height: 60px;

    &--active {
      #{$e}__logo {
        display: none;
      }
    }
  }
}