.loader {
  height: 50vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 170px;
    animation-name: cycle;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}