.mailing-section {

  &__container {
    @extend %container;
    background-color: #EFDDD8;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
  }

  &__info {
    max-width: 442px;
  }

  &__title {
    @include text-style(3.6rem, 400, $title-color);
    font-family: $futura;
    line-height: 46px;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text-style(1.8rem, 400, $text-color);
    line-height: 21px;
  }

  &__active-box {
    padding-top: 17px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
  }

  &__input-box {
    display: flex;
    align-items: center;
    height: 44px;
    width: 417px;
    background-color: $white-color;
    padding: 8px 16px;

    svg {
      margin-right: 5px;
    }
  }

  &__input {
    @include text-style(1.4rem, 400, $title-color);
    width: 100%;
  }

  &__btn {
    @include text-style(1.8rem, 400, $white-color);
    font-family: $futura;
    height: 44px;
    width: 161px;
    background-color: $main-color;
    border-radius: 4px;
  }
}