.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(29, 29, 29, 0.4);
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 100;

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 600px;
    padding: 100px 80px 50px;
    background-color: $white-color;
    box-shadow: 0 2px 20px rgba(220, 219, 219, 0.25);
    border-radius: 1px;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  &__icon {
    margin-bottom: 40px;

    &--cross {
      margin: 0 auto 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      border: 8px solid #EB5757;
      border-radius: 50%;
    }
  }

  &__title {
    @include text-style(2.4rem, 600, $title-color);
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text-style(2.4rem, 400, $text-color);
    line-height: 28px;
    margin-bottom: 68px;
  }

  &__btn {
    padding: 0 60px;
    height: 44px;
    border-radius: 1px;
    background-color: $main-color;
    @include text-style(1.8rem, 600, $white-color);
  }
}