.recommend-box {
  padding: 16px 0 20px 14px;
  background-color: $white-color;

  &__title {
    @include text-style(1.8rem, 600, $main-color);
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__list {
    max-height: 800px;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
      border-radius: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 5px;
      //background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #A1A1A1;
    }
  }

  &__item {
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E7E3;
    margin-right: 14px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__item-heading {
    padding-left: 7px;
    @include text-style(1.4rem, 400, #BF927A);
    position: relative;
    margin-bottom: 10px;

    &:before {
      content: '';
      width: 2px;
      height: 18px;
      border-radius: 1px;
      background-color: #BF927A;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__item-title {
    @include text-style(1.6rem, 600, #002E2C);
    line-height: 19px;
    max-height: 57px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 10px;
  }

  &__item-date {
    @include text-style(1.4rem, 400, #A1A1A1);
  }
}