.red-book {

  &__container {
    @extend %container;
    padding-top: 20px;
    border-top: 1px solid #EB5757;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__more {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      @include text-style(1.8rem, 400, $text-color);
      font-family: $futura;
      margin-right: 10px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}