.red-card {
  $e: &;

  height: 338px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(29, 29, 29, 0.09) 0%, rgba(29, 29, 29, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    width: unset;
    max-width: unset;
  }

  &__info {
    position: absolute;
    left: 10px;
    bottom: 16px;
    z-index: 3;
  }

  &__heading {
    padding-left: 7px;
    position: relative;
    @include text-style(1.4rem, 400, #F56B6B);
    margin-bottom: 10px;

    &:before {
      content: '';
      width: 2px;
      height: 18px;
      border-radius: 1px;
      background-color: #F56B6B;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__title {
    @include text-style(1.8rem, 600, $white-color);
    line-height: 21.5px;
    height: 42px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text-style(1.4rem, 400, #E0E0E0);
    line-height: 16.5px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  @include respond(phone) {
    height: 199px;

    &--h338 {
      height: 338px;
      width: 285px;

      #{$e}__info {
        bottom: 16px;
        left: 10px;
      }

      #{$e}__heading {
        padding-left: 7px;
        @include text-style(1.4rem, 400, #F56B6B);
        margin-bottom: 10px;

        &:before {
          content: '';
          width: 2px;
          height: 18px;
        }
      }

      #{$e}__title {
        @include text-style(1.8rem, 600, $white-color);
        line-height: 21px;
        height: 42px;
        margin-bottom: 10px;
      }

      #{$e}__subtitle {
        @include text-style(1.4rem, 400, #E0E0E0);
        line-height: 16.5px;
        height: 32px;
      }

    }

    &__info {
      left: 5px;
      bottom: 8px;
    }

    &__heading {
      padding-left: 4px;
      @include text-style(1.2rem, 400, #F56B6B);
      margin-bottom: 5px;

      &:before {
        content: '';
        width: 2px;
        height: 13px;
      }
    }

    &__title {
      @include text-style(1.4rem, 600, $white-color);
      line-height: 16px;
      height: 34px;
      margin-bottom: 5px;
    }

    &__subtitle {
      @include text-style(1.2rem, 400, #E0E0E0);
      line-height: 14px;
      height: 28px;
    }
  }
}