.rubric-details {
  padding: 16px 14px 20px;
  background-color: $white-color;
  box-shadow: 0 1px 20px rgba(204, 204, 204, 0.2);
  width: 100%;

  &--tab {
    display: none;
  }

  &--only-desktop {

  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid #E0E0E0;
    }

    &--center {
      align-items: center;
    }
  }

  &__grey {
    @include text-style(1.6rem, 400, #A1A1A1);

    &--italic {
      font-style: italic;
    }
  }

  &__green {
    @include text-style(1.6rem, 600, $main-color);
    text-align: right;
    line-height: 21px;

    &--pointer {
      cursor: pointer;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  @include respond(tab-land) {

    &--tab {
      display: block;
    }
  }

  @include respond(phone) {
    &--only-desktop {
      display: none;
    }

    &--tab {
      display: none;
    }
  }
}