.rubric-page {
  padding: 20px 0 100px;

  &__container {
    @extend %container;
  }

  &__breadcrumb {
    margin-bottom: 20px;
  }

  &__img-box {
    position: relative;
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(29, 29, 29, 0.09) 0%, rgba(29, 29, 29, 0.81) 100%);
      z-index: 2;
    }

    &--h600 {
      height: 600px;
    }
  }

  &__img {
    width: 100%;
    max-width: unset;
    height: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img-info {
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 3;
    max-width: 500px;

    &--desktop-none {
      display: none;
    }

    &--redbook {
      left: 56px;
      bottom: 35px;
      width: 272px;
      border-radius: 4px;
      background-color: $main-color;
      padding: 20px;

      h4 {
        @include text-style(3.6rem, 400, $white-color);
        font-family: $futura;
        line-height: 46px;
        margin-bottom: 10px;
      }

      div {
        display: flex;
        align-items: flex-start;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      span {
        &:first-child {
          @include text-style(1.8rem, 400, #E0E0E0);
          line-height: 21px;
          margin-right: 10px;
        }

        &:last-child {
          @include text-style(1.8rem, 600, $white-color);
          line-height: 21px;
        }
      }
    }
  }

  &__views {
    display: inline-flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: $main-color;
    @include text-style(1.8rem, 600, $white-color);

    svg {
      fill: $white-color;
      margin-right: 5px;
    }

    &--mb10 {
      margin-bottom: 10px;
    }

    &--phone {
      display: none;
    }
  }

  &__img-title {
    @include text-style(2.4rem, 400, $white-color);
    font-family: $futura;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &__img-desc {
    @include text-style(1.8rem, 400, #BDBDBD);
    line-height: 21px;
  }

  &__main {
    margin-bottom: 80px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__column {
    position: relative;
    z-index: 2;

    &--desktop {

    }

    &--w285 {
      width: 285px;
    }

    &--w470 {
      width: 470px;
    }

    &--w570 {
      width: 570px;
    }

    &--w793 {
      width: 793px;
    }

    &--w367 {
      width: 367px;
    }

    &--w690 {
      width: 690px;
    }
  }

  &__details-box {
    margin-bottom: 20px;
  }

  &__text {
    @include text-style(1.8rem, 400, $title-color);
    line-height: 21px;
    margin-bottom: 20px;
  }

  &__grey-text {
    @include text-style(1.8rem, 400, #A1A1A1);

    &--mb20 {
      margin-bottom: 20px;
    }

    &--phone {
      display: none;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__tag {
    padding: 7px 10px;
    border-radius: 4px;
    background-color: #BF927A;
    @include text-style(1.4rem, 400, $white-color);

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__share {
    display: flex;
    align-items: center;

    span {
      @include text-style(1.8rem, 400, $title-color);
      margin-right: 14px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  &__interest {
    margin-bottom: 100px;
  }

  &__interest-title {
    @include text-style(3.6rem, 400, $main-color);
    font-family: $futura;
    margin-bottom: 30px;

    &--mb0 {
      margin-bottom: 0;
    }
  }

  &__interest-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    &--grid4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__quote {
    @include text-style(2.4rem, 600, $title-color);
    line-height: 28px;
    margin: 75px 0;
    position: relative;

    &:before {
      content: '';
      width: 46px;
      height: 39px;
      background-image: url("../assets/img/icons/quote-sign.svg");
      position: absolute;
      top: -17px;
      right: calc(100% + 11px);
    }

    &:after {
      content: '';
      width: 46px;
      height: 39px;
      background-image: url("../assets/img/icons/quote-sign.svg");
      transform: rotate(180deg);
      position: absolute;
      bottom: -25px;
      right: -35px;
    }
  }

  &__status-box {
    margin-bottom: 20px;
  }

  &__title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title-more {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    p {
      @include text-style(1.8rem, 400, $text-color);
      font-family: $futura;
      margin-right: 4px;
    }
  }

  &__phone-top {
    display: none;
  }

  &__swiper-container {
    display: none;
  }

  @include respond(tab-land) {

    &__row {
      margin-bottom: 20px;

      &--phone-column {
        flex-direction: column;
      }
    }

    &__img-box {

      &--h600 {
        height: 400px;
      }
    }

    &__img-info {

      &--desktop-none {
        display: none;
      }

      &--redbook {
        position: relative;
        left: unset;
        bottom: unset;
        width: unset;
        max-width: unset;
        padding: 20px;
        margin-bottom: 20px;
      }

      &--tab-none {
        display: none;
      }

      &--desktop-none {
        display: block;
      }
    }

    &__column {

      &--mb20 {
        margin-bottom: 20px;
      }

      &--tab-none {
        display: none;
      }

      &--w793 {
        width: 100%;
      }

      &--w470 {
        width: 100%;
      }

      &--w367 {
        width: 100%;
      }
    }

    &__interest-list {
      grid-gap: 10px;

      &--grid4 {
        grid-template-columns: repeat(3, 1fr);

        & > * {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  @include respond(phone) {
    &__phone-top {
      display: block;
      margin-bottom: 14px;
    }

    &__img-title {
      @include text-style(2rem, 400, $title-color);
      font-family: $futura;
      line-height: 25px;
      margin-bottom: 8px;
    }

    &__img-desc {
      @include text-style(1.6rem, 400, #BDBDBD);
      line-height: 18px;
      margin-bottom: 10px;
    }

    &__phone-details {
      display: flex;
      align-items: center;
    }

    &__details-w-icon {
      @include text-style(1.4rem, 400, #A1A1A1);
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }

      &--active {
        color: $main-color;
        text-decoration: underline;
      }
    }

    &__img-info {
      display: none;
    }

    &__views {
      top: 11px;
      left: 16px;
      position: absolute;
      padding: 3px 8px;
      @include text-style(1.2rem, 600, $white-color);

      svg {
        width: 20px;
        height: 20px;
      }

      &--phone {
        display: inline-flex;
      }
    }

    &__img-box {
      height: 124px;
      //margin-left: calc((-100vw + 344px) / 2);
      //margin-right: calc((-100vw + 344px) / 2);
      margin: 0 -15px 14px;
    }

    &__row {

    }

    &__column {
      width: 100%;

      &--phone-none {
        display: none;
      }
    }

    &__grey-text {
      @include text-style(1.6rem, 400, #A1A1A1);

      &--mb20 {
        margin-bottom: 10px;
      }

      &--phone {
        display: block;
      }
    }

    &__tags {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    &__tag {
      flex-shrink: 0;
      margin-bottom: 10px;
    }

    &__collaborators {
      margin-bottom: 40px;
    }

    &__main {
      margin-bottom: 40px;
    }

    &__interest {
      margin-bottom: 80px;
    }

    &__interest-title {
      @include text-style(2.4rem, 400, $main-color);
      font-family: $futura;
      margin-bottom: 20px;

      &--mb0 {
        margin-bottom: 0;
      }
    }

    &__interest-list {
      display: none;
    }

    &__swiper-container {
      display: block;
      padding-bottom: 38px;
    }

    &__pagination {

      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: rgba(0, 83, 68, 0.3);;
        opacity: 1;
        margin: 0 8px;
      }

      .swiper-pagination-bullet-active {
        background-color: #005344;
      }
    }

    &__quote {
      @include text-style(1.8rem, 600, $title-color);
      line-height: 21px;
      margin: 30px 0;
      padding: 0 15px;

      &:before {
        content: '';
        width: 22px;
        height: 19px;
        background-image: url("../assets/img/icons/quote-sign.svg");
        background-size: contain;
        position: absolute;
        top: -12px;
        left: -10px;
      }

      &:after {
        content: '';
        width: 22px;
        height: 19px;
        background-image: url("../assets/img/icons/quote-sign.svg");
        transform: rotate(180deg);
        background-size: contain;
        position: absolute;
        bottom: -10px;
        right: 0;
      }
    }

    &__text {
      @include text-style(1.6rem, 400, $title-color);
      line-height: 18px;
      margin-bottom: 20px;
    }

  }
}