.rubrics {
  padding: 20px 0 100px;

  &__container {
    @extend %container;
  }

  &__breadcrumb {
    margin-bottom: 20px;
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__desc {
    @include text-style(1.8rem, 400, $text-color);
    line-height: 21px;
    max-width: 895px;
    margin-bottom: 30px;
  }

  &__main {

  }

  &__filters {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $main-color;

    p {
      @include text-style(1.4rem, 400, #A1A1A1);
      margin-right: 20px;
    }
  }

  &__filter-item {
    @include text-style(1.4rem, 400, $text-color);

    &--active {
      color: $main-color;
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 60px;
  }

  @include respond(tab-land) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include respond(phone) {
    padding-bottom: 80px;

    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }

    &__desc {
      @include text-style(1.6rem, 400, $text-color);
      line-height: 18px;
      max-width: unset;
      margin-bottom: 20px;
    }

    &__filters {
      margin-bottom: 16px;

      p {
        @include text-style(1.2rem, 400, #A1A1A1);
        margin-right: 10px;
      }
    }

    &__filter-item {
      font-size: 1.2rem;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}