.search-page {
  padding: 20px 0 100px;

  &__container {
    @extend %container;
  }

  &__breadcrumb {
    margin-bottom: 20px;
  }

  &__search-var {
    @include text-style(1.6rem, 400, #00332a);
    font-style: italic;
    margin-bottom: 30px;
  }

  &__heading {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;

    span {
      @include text-style(2.4rem, 600, #BF927A);
      position: absolute;
      top: 0;
      left: calc(100% + 5px);
    }
  }

  &__list {}

  &__card {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__empty {
    @include text-style(2.4rem, 400, #A1A1A1);
    line-height: 28.25px;
    height: 40vh;
  }

  @include respond(phone) {
    padding: 20px 0 80px;

    &__heading {
      span {
        @include text-style(1.8rem, 600, #BF927A);
        position: absolute;
        top: 0;
        left: calc(100% + 2px);
      }
    }

    &__search-var {
      margin-bottom: 20px;
    }

    &__card {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__empty {
      @include text-style(1.8rem, 400, #A1A1A1);
      line-height: 21px;
    }
  }
}