.sidebar {
  padding: 20px 0 100px;
  background-color: #f9fafc;
  position: fixed;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  top: 70px;
  right: -120%;
  z-index: 50;

  transition: all .8s;

  &--active {
    right: 0;
  }

  &__container {
    @extend %container;
  }

  &__heading {
    @include text-style(5rem, 600, $main-color);
    font-family: $futura;
    margin-bottom: 20px;
  }

  &__items {
    &  > * {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__item {
    @include text-style(2.4rem, 400, $text-color);
    transition: all .3s;
    cursor: pointer;

    &:hover {
      color: $main-color;
      text-decoration: underline;
    }

    &--red {
      color: #EB5757;

      &:hover {
        color: #EB5757;
        text-decoration: underline;
      }
    }
  }

  &__title {
    @include text-style(2.4rem, 600, $main-color);
    text-decoration: underline;
    margin-bottom: 20px;
  }

  &__rubrics {
    margin-bottom: 40px;

    div {
      margin-bottom: 20px;
    }

    li {
      @include text-style(2.4rem, 400, $text-color);
      transition: all .3s;
      cursor: pointer;

      &:hover {
        color: $main-color;
        text-decoration: underline;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__btn {
    display: none;
  }

  @include respond(tab-land) {
    &__items {
      margin-bottom: 40px;

      &  > * {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    &__btn {
      display: unset;
      width: 260px;
    }
  }

  @include respond(phone) {
    top: 60px;

    &__btn {
      width: 206px;
    }

    &__heading {
      font-size: 3rem;
      margin-bottom: 15px;
    }

    &__items {
      margin-bottom: 30px;
    }

    &__item {
      font-size: 1.8rem;
    }

    &__title {
      font-size: 1.8rem;
      margin-bottom: 16px;
    }

    &__rubrics {

      li {
        font-size: 1.8rem;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}