.staggered-card {

  $e: &;

  display: flex;
  align-items: stretch;
  height: 166px;
  background: #FFFFFF;
  box-shadow: 0 1px 18px rgba(222, 222, 222, 0.35);
  border-radius: 4px;
  overflow: hidden;

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(6) {
    #{$e}__img-box {
      display: none;
    }
  }

  &--nostagger {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6) {
      #{$e}__img-box {
        display: block;
      }
    }
  }

  &__img-box {
    width: 230px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    width: unset;
    max-width: unset;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__views {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 61px;
    height: 26px;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;

    @include text-style(1.2rem, 600, $white-color);

    svg {
      margin-right: 5px;
      fill: $white-color;
    }
  }

  &__info {
    padding: 10px 10px 23px;
  }

  &__heading {
    @include text-style(1.4rem, 400, #BF927A);
    padding-left: 7px;
    position: relative;
    margin-bottom: 10px;

    &:before {
      content: '';
      width: 2px;
      height: 18px;
      border-radius: 1px;
      background-color: #BF927A;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__grey-text {
    @include text-style(1.4rem, 400, #A1A1A1);
    margin-bottom: 10px;

    &--darker {
      color: $text-color;
    }
  }

  &__title {
    @include text-style(1.8rem, 600, $title-color);
    line-height: 21.5px;
    margin-bottom: 10px;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__subtitle {
    @include text-style(1.4rem, 400, $text-color);
    line-height: 16.5px;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__details {
    display: flex;
    align-items: center;
    margin-top: 10px;

    span {
      @include text-style(1.4rem, 400, #A1A1A1);
      position: relative;

      &:not(:last-child) {
        margin-right: 25px;

        &:after {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #A1A1A1;
          position: absolute;
          top: 5px;
          left: calc(100% + 10px);
        }
      }
    }
  }

  @include respond(tab-land) {
    display: none;

    &:first-child {
      display: flex;
    }

    &:nth-child(2) {
      display: flex;
    }
  }

  @include respond(phone) {
    position: relative;

    &:nth-child(2) {
      #{$e}__heading {
        margin-bottom: 0;
        position: absolute;
        top: 20px;
        left: 10px;
      }

      #{$e}__grey-text {
        margin-bottom: 0;
        position: absolute;
        top: 45px;
        left: 10px;
      }

      #{$e}__title {
        top: 70px;
      }
    }

    &__img-box {
      width: 109px;
      height: 69px;
      position: absolute;
      top: 0;
      left: 0;
      flex-shrink: 0;
      border-radius: 4px 0 0 4px;
      overflow-x: hidden;
    }

    &__info {
      padding: 10px 10px 16px;
    }

    &__heading {
      margin-bottom: 0;
      position: absolute;
      top: 10px;
      left: 119px;
    }

    &__grey-text {
      margin-bottom: 0;
      position: absolute;
      top: 37px;
      left: 123px;
    }

    &__title {
      @include text-style(1.6rem, 600, $title-color);
      line-height: 19px;
      margin-bottom: 0;
      max-height: 38px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      position: absolute;
      left: 10px;
      top: 80px;
    }

    &__subtitle {
      @include text-style(1.4rem, 400, $text-color);
      line-height: 16.5px;
      max-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      position: absolute;
      top: 123px;
      left: 10px;
    }

    &__details {
      display: flex;
      align-items: center;
      margin-top: 10px;

      span {
        @include text-style(1.4rem, 400, #A1A1A1);
        position: relative;

        &:not(:last-child) {
          margin-right: 25px;

          &:after {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #A1A1A1;
            position: absolute;
            top: 5px;
            left: calc(100% + 10px);
          }
        }
      }
    }
  }
}