.welcome-section {

  &__container {
    @extend %container;
  }

  &__main {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 425px;
    margin-bottom: 30px;
  }

  &__box {
    width: 813px;
    flex-shrink: 0;
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(29, 29, 29, 0.09) 0%, rgba(29, 29, 29, 0.9) 100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  &__img {
    height: 100%;
    width: unset;
    max-width: unset;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__box-info {
    position: absolute;
    max-width: 490px;
    bottom: 28px;
    left: 20px;
    z-index: 3;
  }

  &__heading {
    @include text-style(1.6rem, 600, #E2A190);
    position: relative;
    padding-left: 8px;
    margin-bottom: 10px;

    &:before {
      content: '';
      width: 3px;
      height: 20px;
      border-radius: 1px;
      background-color: #E2A190;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  &__title {
    @include text-style(2.4rem, 400, $white-color);
    line-height: 30px;
    font-family: $futura;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include text-style(1.8rem, 400, #BDBDBD);
    line-height: 21px;
  }

  &__scroll-box {
    width: 367px;
    background-color: $white-color;
    padding: 14px 0 16px 12px;
  }

  &__items {
    height: 335px;
    overflow-y: auto;
    margin-bottom: 16px;

    &::-webkit-scrollbar-track {
      //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .2);
      border-radius: 5px;
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 5px;
      //background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #A1A1A1;
    }
  }

  &__item {
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E7E3;
    padding-right: 12px;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__item-heading {
    @include text-style(1.4rem, 400, #BF927A);
    position: relative;
    padding-left: 7px;

    &:before {
      content: '';
      width: 2px;
      height: 18px;
      border-radius: 1px;
      background-color: #BF927A;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item-date {
    @include text-style(1.4rem, 400, #A1A1A1);
  }

  &__item-title {
    @include text-style(1.8rem, 600, $title-color);
    line-height: 21.5px;
    max-height: 86px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  &__btn {
    width: 343px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}