.heading-medium {
  @include text-style(3.6rem, 400, $main-color);
  font-family: $futura;

  &--red {
    color: #EB5757;
  }

  @include respond(phone) {
    font-size: 2.4rem;
  }
}

.heading-large {
  @include text-style(5rem, 600, $main-color);
  font-family: $futura;
}
