@import "nullstyle.scss";

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/typography";
@import "abstracts/animations";

// blocks
@import "blocks/container";
@import "blocks/header";
@import "blocks/button";
@import "blocks/footer";
@import "blocks/main";
@import "blocks/welcome-section";
@import "blocks/card";
@import "blocks/default-view";
@import "blocks/accent-section";
@import "blocks/accent-card";
@import "blocks/fluid-view";
@import "blocks/red-book";
@import "blocks/red-card";
@import "blocks/solo-view";
@import "blocks/staggered-view";
@import "blocks/staggered-card";
@import "blocks/mailing-section";
@import "blocks/rubrics";
@import "blocks/breadcrumb";
@import "blocks/padding";
@import "blocks/rubric-page";
@import "blocks/rubric-details";
@import "blocks/collaborators-box";
@import "blocks/recommend-box";
@import "blocks/status-box";

html, body {
  font-size: 62.5%;
  font-family: $base-font;
  background-color: #f9fafc;
  //scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

// swiper styles

